@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}

h1 { 
  color: #62738a;
}

textarea { 
  width: 500px; 
  height: 100px;
  background: #62738a;
  color: #ffc2dc;
  border: none; 
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

input[type=color] { 
  border: none; 
  width: 100px; 
  /* height:50px; */
}

input[type=number] { 
  padding: 5px;
  font-size: 18px;
  width: 60px;
  border-radius: 10px;
}

textarea::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
  color: #62738a;
}

textarea::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color: #62738a;
}

textarea::-webkit-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color: #62738a;
}

button { 
  padding: 5px 10px;
  border: 2px solid #f8969d;
  border-radius: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  background: #f8969d;
  color: #fff;
  display: block;
  width: 40px;
}

button:active { 
  border: 2px solid #62738a;
}

.container { 
  display: flex;
}

.color-input { 
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.inputs { 
  width: 100%;
  padding: 10px; 
  /*display: flex;
  flex-direction: column; */
  border: 1px solid #62738a;
}

.preview-box { 
  border: 1px solid #62738a;
  padding: 20px;
}

.inputs > button { 
  margin-right: 0px;
  float: right;
  margin-top: 5px;
}